<div class="app-background">

  <div class="tabs-background-strip">


    <div class="tabs-container">
      <div class="tab"
           [class.active]="mainOrdersPage" (click)="mainOrdersPage = true; citoOrdersPage=false;finishedOrdersPage=false">
        Zamówienia</div>
      <div class="tab"
           [class.active]="citoOrdersPage" (click)="citoOrdersPage = true; mainOrdersPage=false;finishedOrdersPage=false">
        Klienci na cito
      </div>
      <div class="tab" [class.active]="finishedOrdersPage" (click)="finishedOrdersPage = true; mainOrdersPage=false;citoOrdersPage=false">Zakończone
      </div>
    </div>


  </div>


  <div class="folder-body">

    <div class="paper-sheet">

      <button class="add-btn" (click)="modalOpen = true">
        <span class="plus-icon">+</span>
      </button>
      @if (modalOpen) {
        <div class="modal-overlay" (click)="modalOpen = false">

          <div class="modal-card" (click)="$event.stopPropagation()">
            <h3>Dodaj nowe zamówienie</h3>

            <form class="newOrderForm">
              <div class="newOrderLabel">
                <label>Nazwa klienta</label>
                <input type="text"  required name="clientName" [(ngModel)]="newOrderClientName">
              </div>
              <div class="newOrderLabel">
                <label>Zamówienie</label>
                <input type="text" required name="orderName" [(ngModel)]="newOrderOrderName">
              </div>
              <div class="newOrderLabel">
                <label>Ilość</label>
                <input type="number" name="orderQuantity" required [(ngModel)]="newOrderQuantity">
              </div>
              <div class="newOrderLabel">
                <label>Cena</label>
                <input type="number" name="orderPrice" required [(ngModel)]="newOrderPrice">
              </div>
              <div class="newOrderLabel">
                <label>Kraj wysyłki</label>
                <input type="text" required name="orderCountry" [(ngModel)]="newOrderCountry">
              </div>
              <div class="newOrderLabel">
                <label>Czy zamówienie jest na cito?</label>
                <input type="checkbox" name="orderCito" [(ngModel)]="newOrderCito">
              </div>
              <button (click)="createNewOrder()">Zapisz</button>

            </form>
          </div>

        </div>
      }
      @if (editOrderModalOpen) {
        <div class="modal-overlay" (click)=closeEditOrderModal()>

          <div class="modal-card" (click)="$event.stopPropagation()">
            <h3>Edytuj zamówienie</h3>

            <form class="newOrderForm">
              <div class="newOrderLabel">
                <label>Nazwa klienta</label>
                <input type="text"  required name="clientName" [(ngModel)]="editOrderClientName">
              </div>
              <div class="newOrderLabel">
                <label>Zamówienie</label>
                <input type="text" required name="orderName" [(ngModel)]="editOrderOrderName">
              </div>
              <div class="newOrderLabel">
                <label>Ilość</label>
                <input type="number" name="orderQuantity" required [(ngModel)]="editOrderQuantity">
              </div>
              <div class="newOrderLabel">
                <label>Cena</label>
                <input type="number" name="orderPrice" required [(ngModel)]="editOrderPrice" >
              </div>
              <div class="newOrderLabel">
                <label>Kraj wysyłki</label>
                <input type="text" required name="orderCountry" [(ngModel)]="editOrderCountry">
              </div>
              <div class="newOrderLabel">
                <label>Czy zamówienie jest na cito?</label>
                <input type="checkbox" name="orderCito" [ngModel]="editOrderCito">
              </div>
              <button type="submit" (click)="submitEditOrder()">Edytuj</button>
              <div class="modalButtonsLabel">
                <button class="finishOrderButton" (click)="finishOrder()">Zakończ zamówienie</button>
                <button class="deleteOrderButton" (click)="deleteOrder()">Usuń zamówienie</button>
              </div>
            </form>
          </div>

        </div>
      }


      <table class="notebook-table">
        <thead>
        <tr id="tableHeader">
          <th>Nazwa klienta</th>
          <th>Figurka</th>
          <th>Status</th>
          <th>Ilość</th>
          <th>Cena</th>
          <th>Data złożenia</th>
          <th>Kraj wysyłki</th>
          <th></th>
        </tr>
        </thead>
        @if (mainOrdersPage){
        <tbody>
          @for (order of normalOrders; track order.id) {
            <tr>
              <td>{{ order.clientName }}</td>
              <td>{{ order.orderName }}</td>
              <td>{{ order.status}}</td>
              <td>{{ order.quantity }}</td>
              <td>{{ order.price }} €</td>
              <td>{{ order.date }}</td>
              <td>{{ order.country }}</td>
              <td class="editButton" (click)="editOrder(order)">Edytuj</td>
            </tr>
          } @empty {
            <tr>
              <td colspan="7" style="text-align: center; color: #888;">
                Brak zamówień w systemie.
              </td>
            </tr>
          }
        </tbody>
        }
        @if (finishedOrdersPage){
          <tbody>
            @for (order of finishedOrders; track order.id) {
              <tr>
                <td>{{ order.clientName }}</td>
                <td>{{ order.orderName }}</td>
                <td>{{ order.status}}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price }} €</td>
                <td>{{ order.date }}</td>
                <td>{{ order.country }}</td>
                <td class="editButton" (click)="editOrder(order)">Edytuj</td>
              </tr>
            } @empty {
              <tr>
                <td colspan="7" style="text-align: center; color: #888;">
                  Brak zamówień w systemie.
                </td>
              </tr>
            }
          </tbody>
        }
        @if (citoOrdersPage){
          <tbody>
            @for (order of citoOrders; track order.id) {
              <tr>
                <td>{{ order.clientName}}</td>
                <td>{{ order.orderName }}</td>
                <td>{{ order.status}}</td>
                <td>{{ order.quantity }}</td>
                <td>{{ order.price }} €</td>
                <td>{{ order.date }}</td>
                <td>{{ order.country }}</td>
                <td class="editButton" (click)="editOrder(order)">Edytuj</td>
              </tr>
            } @empty {
              <tr>
                <td colspan="7" style="text-align: center; color: #888;">
                  Brak zamówień w systemie.
                </td>
              </tr>
            }
          </tbody>
        }
      </table>

    </div>
  </div>
</div>
